:root {
    --color-bg: #FFFFFF;

    --color-btn: #EEEEEE;
    --color-btn-hover: #EEDDDD;
    --color-btn-selected: #DDDDEE;
}

div.intertia-main-section {
    display: flex;
    flex-direction: column;
}

div.intertia-buttons-section {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;

    flex-grow: 0;
}

div.intertia-button {
    border: none;
    padding: 1em 2em;
    margin: 0em 0.2em;
    text-align: center;
    display: inline-block;
    border-radius: 10px;

    background-color: var(--color-btn);
    transition: background-color 0.1s;

    cursor: pointer;
}

div.intertia-button[data-selected="true"] {
    background-color: var(--color-btn-selected);
}

div.intertia-button:hover {
    background-color: var(--color-btn-hover);
}

div.intertia-slides-section {
    flex-grow: 1;
    overflow-y: scroll;
}

div.intertia-mobile-buttons-section {
    visibility: collapse;
    /* flex-grow: 0; */

    position: fixed;
    bottom: 1em;
}

.misc-unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Weird workaround for mobile devices */
@media (orientation: portrait) or (hover: none) {
    div.intertia-mobile-buttons-section {
        visibility: visible;
    }
}
